.main-nav {
    background-color: black;
    display: inline-flexbox;
    padding: 0;
    margin-bottom: 0rem;
    grid-template-columns: repeat(4, 1fr);
    }

.top-container {
   background-color: black;
   padding: 3rem;
   display: flexbox;
   grid-row-end: 0;
   grid-template-areas: 
     'showcase showcase top-box-a'
     'showcase showcase top-box-b';
}
.top-container h4 {
    text-align-last: center;
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-size: cover;
    background: rgb(192, 230, 195);
    padding: 3rem;
    display: flexbox;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: center;
    justify-items: center;
    box-shadow: aqua;
}

.appdata {
    grid-area: showcase;
    min-height: 200px;
    min-width: min-content;
    background-size: cover;
    background: black;
    padding: 3rem;
    display: flexbox;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.recordplayer li {
    display: list-item;
    color: red;
    font-size: .5rem;
}



.center {
    text-align: center;
  }


.top-box {
    display: grid;
    margin-top: 2rem;
    align-items: center;
    justify-items: center;
    padding: 1rem 5rem 15rem 1rem;
    }
    
    .top-box-a {
    grid-area: top-box-a;
    background: black;
    justify-items: left;
    padding-top: 0rem;
    padding-bottom: 3rem;
    }

    
    .top-box-b {
        grid-area: top-box-b;
        background: black;
        min-width: 800px;
        justify-items: left;
    }

    
.wrapper {
    height:4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    color: black;
    flex: 1;
    outline: 1px solid #888;
   }

   @media(max-width: 500px) {
    .top-container {
    grid-template-areas: 
    'showcase'
    'top-box-a'
    'top-box-b';
    }
   }
